# Project 3

In this project, you will perform a logistic regression on the admissions data we've been working with in projects 1 and 2.

In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import statsmodels.api as sm
import pylab as pl
import numpy as np

/Users/eddywi/anaconda/lib/python2.7/site-packages/statsmodels/compat/pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

In [2]:
df_raw = pd.read_csv("../assets/admissions.csv")
df = df_raw.dropna() 
print df.head()
print df.isnull().sum()

   admit    gre   gpa  prestige
0      0  380.0  3.61       3.0
1      1  660.0  3.67       3.0
2      1  800.0  4.00       1.0
3      1  640.0  3.19       4.0
4      0  520.0  2.93       4.0
admit       0
gre         0
gpa         0
prestige    0
dtype: int64

## Part 1. Frequency Tables

#### 1. Let's create a frequency table of our variables

In [5]:
# frequency table for prestige and whether or not someone was admitted
pd.crosstab(df['admit'],[df['prestige']])
pd.crosstab([df['admit'],df['prestige']],[df['gpa']])

prestige  1.0  2.0  3.0  4.0
admit
0          28   95   93   55
1          33   53   28   12

In [6]:
pd.crosstab([df['admit'],df['prestige']],[df['gpa']])

gpa             2.26  2.42  2.48  2.52  2.55  2.56  2.62  2.63  2.65  2.67  \
admit prestige
0     1.0          0     0     0     0     1     0     0     0     0     0
      2.0          0     1     0     1     0     0     1     1     0     0
      3.0          0     0     0     0     0     1     0     0     0     1
      4.0          1     0     1     0     0     0     0     0     0     0
1     1.0          0     1     0     0     0     0     0     0     0     0
      2.0          0     0     0     0     0     0     1     0     0     1
      3.0          0     0     0     0     0     0     0     0     1     0
      4.0          0     0     0     0     0     0     0     0     0     0

gpa             ...   3.90  3.91  3.92  3.93  3.94  3.95  3.97  3.98  3.99  \
admit prestige  ...
0     1.0       ...      1     0     0     0     0     0     1     0     0
      2.0       ...      1     0     1     1     1     0     0     0     0
      3.0       ...      0     1     0     0     2     0     0     0     2
      4.0       ...      0     0     1     0     1     1     0     0     0
1     1.0       ...      0     0     0     0     0     0     0     0     0
      2.0       ...      0     0     0     0     1     2     0     1     0
      3.0       ...      1     0     0     0     0     2     0     0     1
      4.0       ...      0     0     0     0     0     0     0     0     0

gpa             4.00
admit prestige
0     1.0          3
      2.0          4
      3.0          7
      4.0          1
1     1.0          6
      2.0          4
      3.0          3
      4.0          0

[8 rows x 131 columns]

## Part 2. Return of dummy variables

#### 2.1 Create class or dummy variables for prestige

In [8]:
dummy_ranks = pd.get_dummies(df['prestige'],prefix='prestige')

#### 2.2 When modeling our class variables, how many do we need?

Answer:  2 the third one can be figured out.

## Part 3. Hand calculating odds ratios

Develop your intuition about expected outcomes by hand calculating odds ratios.

In [14]:
cols_to_keep = ['admit', 'gre', 'gpa']
handCalc = df[cols_to_keep].join(dummy_ranks.ix[:, 'prestige_1':])
print handCalc.head()

   admit    gre   gpa  prestige_1.0  prestige_2.0  prestige_3.0  prestige_4.0
0      0  380.0  3.61             0             0             1             0
1      1  660.0  3.67             0             0             1             0
2      1  800.0  4.00             1             0             0             0
3      1  640.0  3.19             0             0             0             1
4      0  520.0  2.93             0             0             0             1

In [15]:

#crosstab prestige 1 admission 
# frequency table cutting prestige and whether or not someone was admitted
ct=pd.crosstab(handCalc['admit'],[handCalc['prestige_1.0']])

#### 3.1 Use the cross tab above to calculate the odds of being admitted to grad school if you attended a #1 ranked college

In [16]:
a=(float(ct[1][1])/float(ct[0][0]+ct[0][1]+ct[1][0]+ct[1][1]))/(float(ct[1][0])/float(ct[0][0]+ct[0][1]+ct[1][0]+ct[1][1]))
#print(str.format('{0:.15f}', a))

1.1785714285714284

#### 3.2 Now calculate the odds of admission if you did not attend a #1 ranked college

In [26]:
b=(float(ct[0][1])/float(ct[0][0]+ct[0][1]+ct[1][0]+ct[1][1]))/(float(ct[0][0])/float(ct[0][0]+ct[0][1]+ct[1][0]+ct[1][1]))
#print(str.format('{0:.15f}', a))
b

0.3827160493827161

#### 3.3 Calculate the odds ratio

In [28]:
c=a/b
c

3.0794930875576028

#### 3.4 Write this finding in a sentenance:

Answer: Odds are approx. 3x higher if you went to pretige_1 school

#### 3.5 Print the cross tab for prestige_4

In [29]:
ct4=pd.crosstab(handCalc['admit'],[handCalc['prestige_4.0']])
ct4

prestige_4.0    0   1
admit
0             216  55
1             114  12

#### 3.6 Calculate the OR

In [30]:
aa=(float(ct4[1][1])/float(ct4[0][0]+ct4[0][1]+ct4[1][0]+ct4[1][1]))/(float(ct4[1][0])/float(ct4[0][0]+ct4[0][1]+ct4[1][0]+ct4[1][1]))
bb=(float(ct4[0][1])/float(ct4[0][0]+ct4[0][1]+ct4[1][0]+ct4[1][1]))/(float(ct4[0][0])/float(ct4[0][0]+ct4[0][1]+ct4[1][0]+ct4[1][1]))
cc=aa/bb
cc

0.41339712918660293

#### 3.7 Write this finding in a sentence

Answer: Odds are about 60% lower if you went to prestige_4 school

## Part 4. Analysis

In [31]:
# create a clean data frame for the regression
cols_to_keep = ['admit', 'gre', 'gpa']
data = df[cols_to_keep].join(dummy_ranks.ix[:, 'prestige_2':])
print data.head()

   admit    gre   gpa  prestige_2.0  prestige_3.0  prestige_4.0
0      0  380.0  3.61             0             1             0
1      1  660.0  3.67             0             1             0
2      1  800.0  4.00             0             0             0
3      1  640.0  3.19             0             0             1
4      0  520.0  2.93             0             0             1

We're going to add a constant term for our Logistic Regression. The statsmodels function we're going to be using requires that intercepts/constants are specified explicitly.

In [33]:
# manually add the intercept
data['intercept'] = 1.0

#### 4.1 Set the covariates to a variable called train_cols

In [34]:
train_cols=['gre','gpa','prestige_2.0','prestige_3.0','prestige_4.0','intercept']

#### 4.2 Fit the model

In [37]:
LLogit=sm.Logit(data['admit'],data[train_cols])
FFit=LLogit.fit()

Optimization terminated successfully.
         Current function value: 0.573854
         Iterations 6

#### 4.3 Print the summary results

In [40]:
summ=FFit.summary()

#### 4.4 Calculate the odds ratios of the coeffiencents and their 95% CI intervals

hint 1: np.exp(X)

hint 2: conf['OR'] = params
        
           conf.columns = ['2.5%', '97.5%', 'OR']

In [42]:
print summ.tables[1]
print (float((summ.tables[1].data[3][1])))

================================================================================
                   coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------
gre              0.0022      0.001      2.028      0.043    7.44e-05       0.004
gpa              0.7793      0.333      2.344      0.019       0.128       1.431
prestige_2.0    -0.6801      0.317     -2.146      0.032      -1.301      -0.059
prestige_3.0    -1.3387      0.345     -3.882      0.000      -2.015      -0.663
prestige_4.0    -1.5534      0.417     -3.721      0.000      -2.372      -0.735
intercept       -3.8769      1.142     -3.393      0.001      -6.116      -1.638
================================================================================
-0.6801

In [47]:
print FFit.summary()

                           Logit Regression Results
==============================================================================
Dep. Variable:                  admit   No. Observations:                  397
Model:                          Logit   Df Residuals:                      391
Method:                           MLE   Df Model:                            5
Date:                Sun, 24 Sep 2017   Pseudo R-squ.:                 0.08166
Time:                        21:01:23   Log-Likelihood:                -227.82
converged:                       True   LL-Null:                       -248.08
                                        LLR p-value:                 1.176e-07
================================================================================
                   coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------
gre              0.0022      0.001      2.028      0.043    7.44e-05       0.004
gpa              0.7793      0.333      2.344      0.019       0.128       1.431
prestige_2.0    -0.6801      0.317     -2.146      0.032      -1.301      -0.059
prestige_3.0    -1.3387      0.345     -3.882      0.000      -2.015      -0.663
prestige_4.0    -1.5534      0.417     -3.721      0.000      -2.372      -0.735
intercept       -3.8769      1.142     -3.393      0.001      -6.116      -1.638
================================================================================

In [48]:
data['gree']=(np.exp(float(summ.tables[1].data[2][1])))*np.exp((float((summ.tables[1].data[1][1])))+(float(summ.tables[1].data[2][1])*data['gre'])+(float(summ.tables[1].data[3][1])*data['gpa'])+(float(summ.tables[1].data[4][1])*data['prestige_2.0'])+(float(summ.tables[1].data[5][1])*data['prestige_3.0'])+(float(summ.tables[1].data[6][1])*data['prestige_4.0']))

In [49]:
data['gpaa']=(np.exp(float(summ.tables[1].data[3][1])))*np.exp((float((summ.tables[1].data[1][1])))+(float(summ.tables[1].data[2][1])*data['gre'])+(float(summ.tables[1].data[3][1])*data['gpa'])+(float(summ.tables[1].data[4][1])*data['prestige_2.0'])+(float(summ.tables[1].data[5][1])*data['prestige_3.0'])+(float(summ.tables[1].data[6][1])*data['prestige_4.0']))

In [50]:
data['pp2']=(np.exp(float(summ.tables[1].data[4][1])))*np.exp((float((summ.tables[1].data[1][1])))+(float(summ.tables[1].data[2][1])*data['gre'])+(float(summ.tables[1].data[3][1])*data['gpa'])+(float(summ.tables[1].data[4][1])*data['prestige_2.0'])+(float(summ.tables[1].data[5][1])*data['prestige_3.0'])+(float(summ.tables[1].data[6][1])*data['prestige_4.0']))

In [51]:
data['pp3']=(np.exp(float(summ.tables[1].data[5][1])))*np.exp((float((summ.tables[1].data[1][1])))+(float(summ.tables[1].data[2][1])*data['gre'])+(float(summ.tables[1].data[3][1])*data['gpa'])+(float(summ.tables[1].data[4][1])*data['prestige_2.0'])+(float(summ.tables[1].data[5][1])*data['prestige_3.0'])+(float(summ.tables[1].data[6][1])*data['prestige_4.0']))

In [52]:
data['pp4']=(np.exp(float(summ.tables[1].data[6][1])))*np.exp((float((summ.tables[1].data[1][1])))+(float(summ.tables[1].data[2][1])*data['gre'])+(float(summ.tables[1].data[3][1])*data['gpa'])+(float(summ.tables[1].data[4][1])*data['prestige_2.0'])+(float(summ.tables[1].data[5][1])*data['prestige_3.0'])+(float(summ.tables[1].data[6][1])*data['prestige_4.0']))

In [55]:
print FFit.summary()
data['pp2'].describe()

                           Logit Regression Results
==============================================================================
Dep. Variable:                  admit   No. Observations:                  397
Model:                          Logit   Df Residuals:                      391
Method:                           MLE   Df Model:                            5
Date:                Sun, 24 Sep 2017   Pseudo R-squ.:                 0.08166
Time:                        21:05:28   Log-Likelihood:                -227.82
converged:                       True   LL-Null:                       -248.08
                                        LLR p-value:                 1.176e-07
================================================================================
                   coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------
gre              0.0022      0.001      2.028      0.043    7.44e-05       0.004
gpa              0.7793      0.333      2.344      0.019       0.128       1.431
prestige_2.0    -0.6801      0.317     -2.146      0.032      -1.301      -0.059
prestige_3.0    -1.3387      0.345     -3.882      0.000      -2.015      -0.663
prestige_4.0    -1.5534      0.417     -3.721      0.000      -2.372      -0.735
intercept       -3.8769      1.142     -3.393      0.001      -6.116      -1.638
================================================================================

count     3.970000e+02
mean     3.766231e+267
std                inf
min       2.328654e+72
25%      4.462009e+172
50%      4.247892e+194
75%      6.502992e+221
max      1.678983e+269
Name: pp2, dtype: float64

#### 4.5 Interpret the OR of Prestige_2

Answer: With every unit increase odds of admission increase by 0.28 (units).

#### 4.6 Interpret the OR of GPA

Answer: 1 unit increase in GPA score increases the odds by a 1.2.

In [57]:
data['gpaa'].describe()

count     3.970000e+02
mean     7.276681e+267
std                inf
min       4.499158e+72
25%      8.620982e+172
50%      8.207291e+194
75%      1.256434e+222
max      3.243938e+269
Name: gpaa, dtype: float64

## Part 5: Predicted probablities

As a way of evaluating our classifier, we're going to recreate the dataset with every logical combination of input values. This will allow us to see how the predicted probability of admission increases/decreases across different variables. First we're going to generate the combinations using a helper function called cartesian (above).

We're going to use np.linspace to create a range of values for "gre" and "gpa". This creates a range of linearly spaced values from a specified min and maximum value--in our case just the min/max observed values.

In [59]:
def cartesian(arrays, out=None):
    """
    Generate a cartesian product of input arrays.
    Parameters
    ----------
    arrays : list of array-like
        1-D arrays to form the cartesian product of.
    out : ndarray
        Array to place the cartesian product in.
    Returns
    -------
    out : ndarray
        2-D array of shape (M, len(arrays)) containing cartesian products
        formed of input arrays.
    Examples
    --------
    >>> cartesian(([1, 2, 3], [4, 5], [6, 7]))
    array([[1, 4, 6],
           [1, 4, 7],
           [1, 5, 6],
           [1, 5, 7],
           [2, 4, 6],
           [2, 4, 7],
           [2, 5, 6],
           [2, 5, 7],
           [3, 4, 6],
           [3, 4, 7],
           [3, 5, 6],
           [3, 5, 7]])
    """

    arrays = [np.asarray(x) for x in arrays]
    dtype = arrays[0].dtype

    n = np.prod([x.size for x in arrays])
    if out is None:
        out = np.zeros([n, len(arrays)], dtype=dtype)

    m = n / arrays[0].size
    out[:,0] = np.repeat(arrays[0], m)
    if arrays[1:]:
        cartesian(arrays[1:], out=out[0:m,1:])
        for j in xrange(1, arrays[0].size):
            out[j*m:(j+1)*m,1:] = out[0:m,1:]
    return out

In [62]:
# instead of generating all possible values of GRE and GPA, we're going
# to use an evenly spaced range of 10 values from the min to the max 
gres = np.linspace(data['gre'].min(), data['gre'].max(), 10)
print gres
# array([ 220.        ,  284.44444444,  348.88888889,  413.33333333,
#         477.77777778,  542.22222222,  606.66666667,  671.11111111,
#         735.55555556,  800.        ])
gpas = np.linspace(data['gpa'].min(), data['gpa'].max(), 10)
print gpas
# array([ 2.26      ,  2.45333333,  2.64666667,  2.84      ,  3.03333333,
#         3.22666667,  3.42      ,  3.61333333,  3.80666667,  4.        ])


# enumerate all possibilities
combos = pd.DataFrame(cartesian([gres, gpas, [1, 2, 3, 4], [1.]]))

[ 220.          284.44444444  348.88888889  413.33333333  477.77777778
  542.22222222  606.66666667  671.11111111  735.55555556  800.        ]
[ 2.26        2.45333333  2.64666667  2.84        3.03333333  3.22666667
  3.42        3.61333333  3.80666667  4.        ]

#### 5.1 Recreate the dummy variables

In [61]:
# recreate the dummy variables

# keep only what we need for making predictions


ddummy = pd.get_dummies(combos[2],prefix='pprestige')
old_to_keep = [0,1]

ddata = combos[old_to_keep].join(ddummy.ix[:, 'pprestige_2.0':])
ddata['intercept'] = 1.0

/Users/eddywi/anaconda/lib/python2.7/site-packages/ipykernel_launcher.py:9: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  if __name__ == '__main__':

#### 5.2 Make predictions on the enumerated dataset

In [63]:
print FFit.summary()

                           Logit Regression Results
==============================================================================
Dep. Variable:                  admit   No. Observations:                  397
Model:                          Logit   Df Residuals:                      391
Method:                           MLE   Df Model:                            5
Date:                Sun, 24 Sep 2017   Pseudo R-squ.:                 0.08166
Time:                        21:11:20   Log-Likelihood:                -227.82
converged:                       True   LL-Null:                       -248.08
                                        LLR p-value:                 1.176e-07
================================================================================
                   coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------
gre              0.0022      0.001      2.028      0.043    7.44e-05       0.004
gpa              0.7793      0.333      2.344      0.019       0.128       1.431
prestige_2.0    -0.6801      0.317     -2.146      0.032      -1.301      -0.059
prestige_3.0    -1.3387      0.345     -3.882      0.000      -2.015      -0.663
prestige_4.0    -1.5534      0.417     -3.721      0.000      -2.372      -0.735
intercept       -3.8769      1.142     -3.393      0.001      -6.116      -1.638
================================================================================

#### 5.3 Interpret findings for the last 4 observations

In [64]:
float((summ.tables[1].data[2][1]))

0.7793

In [65]:
params=[float((summ.tables[1].data[1][1])),float((summ.tables[1].data[2][1])),float((summ.tables[1].data[3][1])),float((summ.tables[1].data[4][1])),float((summ.tables[1].data[5][1])),float((summ.tables[1].data[6][1]))]

In [66]:
params

[0.0022, 0.7793, -0.6801, -1.3387, -1.5534, -3.8769]

In [67]:
ddata

         0         1  pprestige_2.0  pprestige_3.0  pprestige_4.0  intercept
0    220.0  2.260000              0              0              0        1.0
1    220.0  2.260000              1              0              0        1.0
2    220.0  2.260000              0              1              0        1.0
3    220.0  2.260000              0              0              1        1.0
4    220.0  2.453333              0              0              0        1.0
5    220.0  2.453333              1              0              0        1.0
6    220.0  2.453333              0              1              0        1.0
7    220.0  2.453333              0              0              1        1.0
8    220.0  2.646667              0              0              0        1.0
9    220.0  2.646667              1              0              0        1.0
10   220.0  2.646667              0              1              0        1.0
11   220.0  2.646667              0              0              1        1.0
12   220.0  2.840000              0              0              0        1.0
13   220.0  2.840000              1              0              0        1.0
14   220.0  2.840000              0              1              0        1.0
15   220.0  2.840000              0              0              1        1.0
16   220.0  3.033333              0              0              0        1.0
17   220.0  3.033333              1              0              0        1.0
18   220.0  3.033333              0              1              0        1.0
19   220.0  3.033333              0              0              1        1.0
20   220.0  3.226667              0              0              0        1.0
21   220.0  3.226667              1              0              0        1.0
22   220.0  3.226667              0              1              0        1.0
23   220.0  3.226667              0              0              1        1.0
24   220.0  3.420000              0              0              0        1.0
25   220.0  3.420000              1              0              0        1.0
26   220.0  3.420000              0              1              0        1.0
27   220.0  3.420000              0              0              1        1.0
28   220.0  3.613333              0              0              0        1.0
29   220.0  3.613333              1              0              0        1.0
..     ...       ...            ...            ...            ...        ...
370  800.0  2.646667              0              1              0        1.0
371  800.0  2.646667              0              0              1        1.0
372  800.0  2.840000              0              0              0        1.0
373  800.0  2.840000              1              0              0        1.0
374  800.0  2.840000              0              1              0        1.0
375  800.0  2.840000              0              0              1        1.0
376  800.0  3.033333              0              0              0        1.0
377  800.0  3.033333              1              0              0        1.0
378  800.0  3.033333              0              1              0        1.0
379  800.0  3.033333              0              0              1        1.0
380  800.0  3.226667              0              0              0        1.0
381  800.0  3.226667              1              0              0        1.0
382  800.0  3.226667              0              1              0        1.0
383  800.0  3.226667              0              0              1        1.0
384  800.0  3.420000              0              0              0        1.0
385  800.0  3.420000              1              0              0        1.0
386  800.0  3.420000              0              1              0        1.0
387  800.0  3.420000              0              0              1        1.0
388  800.0  3.613333              0              0              0        1.0
389  800.0  3.613333              1              0              0        1.0
390  800.0  3.613333              0              1              0        1.0
391  800.0  3.613333              0              0              1        1.0
392  800.0  3.806667              0              0              0        1.0
393  800.0  3.806667              1              0              0        1.0
394  800.0  3.806667              0              1              0        1.0
395  800.0  3.806667              0              0              1        1.0
396  800.0  4.000000              0              0              0        1.0
397  800.0  4.000000              1              0              0        1.0
398  800.0  4.000000              0              1              0        1.0
399  800.0  4.000000              0              0              1        1.0

[400 rows x 6 columns]

In [68]:
oo=LLogit.predict(params,ddata)
print oo

[ 0.16360007  0.09015187  0.04878199  0.03973099  0.18527381  0.10329691
  0.05626794  0.04589501  0.20910104  0.11810982  0.06482437  0.0529626
  0.2351083   0.13472776  0.07457912  0.06104891  0.2632735   0.15327746
  0.0856673   0.07027823  0.29351802  0.17386793  0.09822904  0.08078278
  0.32570097  0.19658223  0.11240631  0.0927009   0.35961643  0.22146846
  0.12833856  0.10617424  0.39499475  0.24853057  0.14615716  0.12134393
  0.43150829  0.27771989  0.16597863  0.13834552  0.1839361   0.10247665
  0.05579789  0.04550743  0.20763514  0.1171873   0.06428771  0.05251862
  0.23351391  0.13369512  0.07396809  0.06054148  0.26155342  0.15212764
  0.08497376  0.06969978  0.29167857  0.17259513  0.09744464  0.08012532
  0.32375226  0.19518244  0.11152271  0.09195615  0.35757241  0.21993997
  0.12734768  0.10533381  0.39287301  0.24687454  0.1450516   0.12039959
  0.4293296   0.27594078  0.16475207  0.13728955  0.46656939  0.30703405
  0.18654438  0.15612832  0.20617684  0.11627103  0.06375519  0.05207816
  0.23192706  0.13266918  0.07336167  0.060038    0.25984062  0.1509849
  0.08428532  0.06912574  0.28984593  0.17132972  0.09666584  0.07947275
  0.32180965  0.19379022  0.11064518  0.09121677  0.35553356  0.21841908
  0.12636335  0.10449926  0.3907553   0.24522594  0.143953    0.11946161
  0.42715364  0.27416875  0.16353279  0.13624037  0.46435828  0.30514649
  0.18519959  0.15496103  0.50196388  0.33799445  0.20901972  0.17573072
  0.23034775  0.13164992  0.07275983  0.05953844  0.25813511  0.14984924
  0.08360195  0.06855607  0.28802012  0.17007168  0.0958926   0.07882504
  0.31987318  0.19240554  0.10977371  0.09048276  0.35349993  0.21690577
  0.12538552  0.10367055  0.38864171  0.24358479  0.14286132  0.11852995
  0.4249805   0.27240381  0.16232079  0.13519795  0.46214856  0.30326545
  0.1838623   0.15380087  0.49974217  0.33600885  0.20755424  0.17444717
  0.53733869  0.37040805  0.2334259   0.19721908  0.25643692  0.14872062
  0.08292361  0.06799076  0.28620117  0.168821    0.09512489  0.07818215
  0.3179429   0.19102842  0.10890826  0.08975406  0.3514716   0.21540006
  0.12441419  0.10284765  0.38653229  0.24195111  0.14177656  0.11760459
  0.42281025  0.27064599  0.16111604  0.13416226  0.45994033  0.30139098
  0.1825325   0.15264783  0.49752046  0.33402902  0.20609637  0.17317102
  0.53512864  0.36833797  0.23183947  0.19581586  0.57234156  0.40403296
  0.25974605  0.22063171  0.28438912  0.16757765  0.09436269  0.07754408
  0.31601886  0.18965884  0.1080488   0.08903066  0.34944861  0.21390195
  0.12344932  0.10203055  0.38442712  0.2403249   0.14069867  0.11668549
  0.42064298  0.26889533  0.15991852  0.13313329  0.45773366  0.29952311
  0.18121019  0.15150189  0.49529886  0.33205502  0.20464609  0.17190226
  0.53291721  0.36627274  0.23026058  0.1944202   0.57016496  0.40189492
  0.25804095  0.21910737  0.60663489  0.43858393  0.28791928  0.24597213
  0.3141011   0.1882968   0.10719531  0.08831252  0.34743103  0.21241144
  0.12249089  0.1012192   0.38232627  0.23870617  0.13962765  0.11577264
  0.41847877  0.26715184  0.15872822  0.132111    0.45552866  0.29766189
  0.17989535  0.15036302  0.49307744  0.33008691  0.2032034   0.17064088
  0.53070448  0.3642124   0.22868923  0.19303211  0.56798565  0.39976061
  0.25634316  0.21759063  0.60451222  0.43639693  0.28610071  0.2443276
  0.63990842  0.47374085  0.31783627  0.27320276  0.34541891  0.21092853
  0.12153887  0.10041359  0.38022982  0.23709495  0.13856347  0.11486599
  0.41631768  0.26541556  0.15754512  0.13109538  0.4533254   0.29580735
  0.17858797  0.14923121  0.4908563   0.32812473  0.2017683   0.16938687
  0.52849055  0.36215703  0.22712545  0.19165157  0.5658037   0.39763009
  0.25465271  0.21608148  0.60238561  0.43421241  0.28428905  0.24269053
  0.63785811  0.47152579  0.31591257  0.27144171  0.67188972  0.50916009
  0.34933682  0.30223963  0.37813782  0.23549124  0.1375061   0.11396553
  0.41415981  0.26368649  0.1563692   0.13008639  0.45112397  0.29395953
  0.17728803  0.14810643  0.48863551  0.32616854  0.20034079  0.1681402
  0.52627549  0.36010669  0.22556924  0.19027857  0.56361919  0.39550345
  0.25296962  0.21457992  0.60025512  0.43203044  0.28248432  0.24106093
  0.63580278  0.46931184  0.31399516  0.2696878   0.66992759  0.50693894
  0.34731954  0.30036877  0.70235181  0.5444876   0.38221015  0.33294887
  0.41200523  0.26196468  0.15520043  0.12908402  0.44892444  0.29211847
  0.17599553  0.14698867  0.48641518  0.32421838  0.19892086  0.16690086
  0.5240594   0.35806144  0.22402059  0.18891311  0.56143222  0.39338076
  0.2512939   0.21308597  0.59812083  0.4298511   0.28068655  0.23943881
  0.63374248  0.46709911  0.31208408  0.26794106  0.66795952  0.50471753
  0.34530773  0.29850453  0.70049064  0.54228261  0.38011393  0.33097808
  0.73111756  0.57937299  0.41619819  0.36514548]

Answer:  The last 4 observations all have good GREs and GPAs. Depending on the prestige, the student has either a 73% chance of admit (prestige 1), a 56% chance (prestige 2), a 42% chance (prestige 3), or a 37% chances (prestige

## Bonus

Plot the probability of being admitted into graduate school, stratified by GPA and GRE score.